body {font-size:12pt; padding-top:60px; font-family:'Roboto Condensed', sans-serif;}

/* Buttons */
.btn {font-size:11pt;}
.float-right {float:right;}
.pre-create {margin:10px 0 20px 0;}
.pre-update {margin-right:10px;}

/* Errors */
.errors {display:none;}
.errors li {line-height:1.5;}
.errors li span {position: relative; left: -15px;}

/* Table */
.filter {font-weight:normal !Important;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td,
.table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

/* Modal & Form */
.tab-pane {padding-top:25px;}
.form-control {font-size:12pt;}
.input-group {width:100%;}
.headers {margin-bottom:5px;}
.header-label, .header-value {-webkit-appearance: none; display: inline;border-collapse: collapse;}
.header-label {width:35% !Important;}
.header-value {border-left:none; width:65% !Important;}
.add-header, .remove-header {height: 34px;}
#url {-webkit-appearance: none; width:80%; border-left:none; border-radius: 0px 4px 4px 0px;}
#method {-webkit-appearance: none; border-radius: 4px 0px 0px 4px; width:20%; background-color:#EEE;}
.pre-update {margin-right:10px;}
#method {
    background: url('/img/down-arrow.png') no-repeat 92% 55% #CCC;
}

/* JSON Editor */
.json-editor {position:relative; width:100%; height:200px;}







